<google-chart [data]="chart" (chartSelect)="clickChart($event)"></google-chart>
<form [formGroup]="chartForm">
  <ion-item>
    <ion-button fill="clear" (click)="chartSlide(-1)" slot="start" [disabled]="!slide.prev">
      <i class="fas fa-arrow-circle-left fa-2x"></i>
    </ion-button>
    <ion-range min="0" max="78" step="1" [formControl]="xRange" pin="false" snaps="false" style="width:100%;">
    </ion-range>
    <ion-button fill="clear" (click)="chartSlide(1)" style="width:50px;" slot="end" [disabled]="!slide.next">
      <i class="fas fa-arrow-circle-right fa-2x"></i>
    </ion-button>
  </ion-item>
</form>
<ion-button (click)="percent()">割合</ion-button>