<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      過去データ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-text
      *ngIf="fromTo.from.getDate()!==fromTo.to.getDate()||fromTo.from.getMonth()!==fromTo.to.getMonth() else oneDay">
      {{fromTo.from|date:'day'}}～{{fromTo.to|date:'day'}}</ion-text>
    <ng-template #oneDay>
      <ion-text>{{fromTo.from|date:'day'}}</ion-text>
    </ng-template>
    <ion-button (click)="openCalendar()" slot="end">表示期間</ion-button>
  </ion-item>
  <app-areaChart [fromTo]="fromTo" [now]="now"></app-areaChart>
</ion-content>

<!--
 [disabled]="to.getTime()>=now.getTime()&&xScale.value===1"


  
-->