<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      過去データ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>{{from|date:'day'}}～{{to|date:'day'}}
    <ion-button (click)="openCalendar()">表示期間</ion-button>
  </ion-item>
  <google-chart [data]="tempChart" (chartSelect)="clickChart($event)"></google-chart>
  <form [formGroup]="chartForm">
    <ion-range min="1" max="100" step="1" [formControl]="xScale" pin="true" snaps="true">
    </ion-range>
  </form>
</ion-content>




<ion-button (click)="dummyData()">ダミーデータ生成</ion-button>